<html>
<head>
  <title>new student</title>
</head>
<body>
  Students Form
  <%= form_tag student_path do %>
    <%= text_field_tag :first_name %>
    <%= text_field_tag :last_name %>
    <%= submit_tag "Submit Student" %>
  <% end %>

  <%= session[:form_params] %> 


</body>
</html>